@model CustomerSite.Models.Product
@{
    string img = Model.Images.Split(' ')[0];
}
<link rel="stylesheet" href="/css/ProductPartial.css" />
<div id="productCard" class="card col-4 m-3">
    <img src="@($"/Images/P{Model.Id}/{img}")" class="card-img-top">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p id="rating" class="card-text">
            @for (var i = 1; i <= 5; i++)
            {
                if(i<=Model.Rating) {<i class="fa fa-star text-warning"></i>}
                else if (i-Model.Rating < 1){<i class="fa fa-star-half text-warning"></i>}
            }
            (@Model.Rating)
        </p>
        @if(Model.ListPrice!=Model.SalePrice){
            <span id="ogPrice" class="card-text text-secondary m-2">
                @Model.ListPrice$
            </span>
            <span id="dcPrice" class="card-text text-success">
                @Model.SalePrice$
            </span>
        }
        else{
            <p class="card-text">
                @Model.SalePrice
            </p>
        }
    </div>
</div>
