@model Ecommerce.DTO.DTOs.ProductDTO

@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> images = Model.Images.Split(' ').ToList();
    List<string> sizes = Model.Sizes.Split(' ').ToList();
}

<h1>ProductDetails</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    @if(images != null){
        <!--Carousel-->
        <div class="slide-wrapper col-6">
            <div id="imageSlide" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    @for (int i = 0; i < images.Count; i++)
                    {
                        <button type="button" data-bs-target="#imageSlide"
                        data-bs-slide-to="@i" aria-current="true" aria-label="Slide @i" class="slide-btn bg-dark @(i == 0?"active":"")">
                        </button>
                    }
                </div>
                <div class="carousel-inner">
                    @foreach (string img in images)
                    {
                        <div class="carousel-item @(img == images.First()?"active":"")">
                            <img src="@($"/Images/P{Model.Id}/{img}")" class="d-block w-100" alt="@Model.Name">
                        </div>
                    }
                </div>
                <div class="slide-control">
                    <button class="carousel-control-prev bg-dark" type="button" data-bs-target="#imageSlide" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next bg-dark" type="button" data-bs-target="#imageSlide" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    }
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sizes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sizes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
