@using Ecommerce.DTO.DTOs
@model Ecommerce.DTO.DTOs.ProductDTO

@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string? username = Context.Request.Cookies["Username"];
    string? token = Context.Request.Cookies["Token"];
    string? roles = Context.Request.Cookies["Roles"];
    List<string>? images = new();
    List<string>? sizes = new();
    List<string>? colors = new();
    List<RatingDTO> ratings = new();
    string filebase = null;
    if(Model != null){
        if (Model.Images != null)
        {
            filebase = "https://firebasestorage.googleapis.com/v0/b/ecommerce-images-c6324.appspot.com/o/images%";
            images = Model.Images.Split(' ').ToList();
        }
        if(Model.Sizes != null)sizes = Model.Sizes.Split(' ').ToList();
        if(Model.Colors != null)colors = Model.Colors.Split(' ').ToList();
        if (Model.Ratings != null) ratings = Model.Ratings.ToList();
    }
}
<link href="~/css/productdetails.css" rel="stylesheet" />
<div class="container mt-5 pt-3">
    @if(Model!=null){
        <div class="row">
            @if (images != null)
            {
                <div class="slide-wrapper col-6">
                    <!--Carousel-->
                    <div id="imageSlide" class="carousel slide" data-bs-ride="true" interval>
                        <div class="carousel-inner">
                            @foreach (string img in images)
                            {
                                <div class="carousel-item @(img == images.First()?"active":"")">
                                    <img src="@filebase@img" class="d-block w-100" alt="@Model.Name">
                                </div>
                            }
                        </div>
                        @if (images.Count > 1)
                        {
                            <div class="carousel-indicators" style="height:1%">
                                @for (int i = 0; i < images.Count; i++)
                                {
                                    <button type="button" data-bs-target="#imageSlide" data-bs-slide-to="@i" 
                                        aria-current="true" aria-label="Slide @i" class="slide-btn bg-info @(i == 0?"active":"")">
                                    </button>
                                }
                            </div>
                            <div class="slide-control">
                                <button class="carousel-control-prev" type="button" data-bs-target="#imageSlide" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#imageSlide" data-bs-slide="next">
                                    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        }    
                    </div>

                    <!--Ratings and comments-->
                    @if(ratings.Count > 0){
                        <hr />
                        <h5>Ratings:</h5>
                        <div class="border border-secondary rounded ps-2">
                            @foreach(RatingDTO rating in ratings){
                                <partial name="../Product/ProductRatingPartial" for="@rating" />
                            }
                        </div>
                    }
                </div>
            }

            <!--Product details-->
            <div class="col-6">
                <h4>@Model.Name</h4>
                <small>@Model.Description</small>
                <div id="rating-wrapper">
                    @if (Model.Rating > 0)
                    {
                        @for (var i = 1; i <= 5; i++)
                        {
                            if (i <= Model.Rating)
                            {
                                <i class="fa fa-star text-warning"></i>
                            }
                            else if (i - Model.Rating < 1)
                            {
                                <i class="fa fa-star-half text-warning"></i>
                            }
                        }
                        <span>(@Math.Round((double)Model.Rating,2))</span>
                        <p class="m-0"><i>@Model.RatingCount Rate(s)</i></p>
                    }
                    else
                    {
                        <p class="m-0"><i>(Be the first to rate)</i></p>
                    }
                </div>
                @if (Model.ListPrice != Model.SalePrice)
                {
                    <h5 class="text-success mb-0">
                        @Model.SalePrice$
                    </h5>
                    <p class="text-secondary mt-0" style="text-decoration:line-through">
                        @Model.ListPrice$
                    </p>
                }
                else
                {
                    <h5>
                        @Model.SalePrice$
                    </h5>
                }

                <!--Options for Color and Size-->
                <form id="options">
                    <h5 class="mt-3 mb-0">Colors:</h5>
                    @if (colors != null)
                    {
                        @foreach (string color in colors)
                        {
                            <label class="color-labels me-3" for="@color" style="width:10%;
                                                                            height:30px;
                                                                            background-color: @color.ToLower();
                                                                            outline: black solid 1px;
                                                                            cursor: pointer">
                                <input id="@color" type="radio" name="color-option" class="color-options" value="@color" hidden />
                            </label>
                        }
                    }
                    else
                    {
                        <p class="text-secondary">Not specified</p>
                    }
                    <h5 class="mt-3">Sizes:</h5>
                    @if (colors != null)
                    {
                        @foreach (string size in sizes)
                        {
                            <label class="size-labels me-3" for="@size" style="cursor:pointer;">
                                <p class="w-100 p-1" style="outline: black solid 1px;">@size.ToUpper()</p>
                                <input id="@size" type="radio" name="size-option" class="size-options" value="@size" hidden />
                            </label>
                        }
                    }
                    else
                    {
                        <p class="text-secondary">Not specified</p>
                    }
                    <div>
                        <input type="number" min="1" max="@Model.Quantity" name="quantity-option" value="1"/>
                        <button type="button" onclick="SaveCart(
                            @Model.Id,
                            '@Model.Name',
                            @Model.SalePrice,
                            @Model.ListPrice,
                            '@Model.Colors.Split(' ')[0]',
                            '@Model.Sizes.Split(' ')[0]')" class="btn btn-outline-success">
                            Add to cart
                        </button>
                    </div>
                </form>

                <!--Rating form for logged in users-->
                @if (username != null && token != null && !roles.Contains("Admin"))
                {
                    <form id="rating" class="position-relative h-25" asp-action="Rate" asp-controller="Product" asp-route-productId="@Model.Id" method="post">
                        <h5 class="mt-2 mb-0">Your rating:</h5>
                        <label id="one">
                            <input type="radio" name="rate" value="1" hidden />
                            <i class="fa fa-star rate-star"></i>
                        </label>
                        <label id="two">
                            <input type="radio" name="rate" value="2" hidden />
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star rate-star"></i>
                        </label>
                        <label id="three">
                            <input type="radio" name="rate" value="3" hidden />
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star rate-star"></i>
                        </label>
                        <label id="four">
                            <input type="radio" name="rate" value="4" hidden />
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star rate-star"></i>
                        </label>
                        <label id="five">
                            <input type="radio" name="rate" value="5" hidden />
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star rate-star"></i>
                        </label>
                        <textarea class="mt-4 w-100" rows="4" cols="50" name="comment" form="rating" placeholder="Comment..."></textarea>
                        <button class="btn btn-outline-secondary" type="submit">Sumbit</button>
                    </form>
                }

                <!--Links to Brand and Category-->
                <div class="mt-5">
                    <h5>
                        Brand:
                        <a class="text-decoration-none" asp-action="ProductsByBrand" asp-controller="Product" asp-route-brandName="@Model.BrandName">
                           @Model.BrandName
                        </a>
                    </h5>
                    <h5>
                        Category:
                        <a class="text-decoration-none" asp-action="ProductsByCategory" asp-controller="Product" asp-route-categoryName="@Model.CategoryName">
                           @Model.CategoryName
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    }
    else{@ViewData["response"]}
</div>
