@model Ecommerce.DTO.DTOs.ProductDTO
@{
    string? image = null;
    string filebase = null;
    if (Model.Images != null)
    {
      image =  Model.Images.Split(' ').ToList()[0];
      filebase = "https://firebasestorage.googleapis.com/v0/b/ecommerce-images-c6324.appspot.com/o/images%";
    }
}
<div class="card col-3 m-3 text-center productCard">
    @if(image != null){
        <div class="card-img-top">
            <img src="@filebase@image" class="d-block w-100" alt="@Model.Name">
        </div>
    }
    <div class="card-body">
        <h6 class="card-title">@Model.Name - @Model.BrandName</h6>
        <p id="rating" class="card-text m-0">
            @if(Model.Rating > 0){
                @for (var i = 1; i <= 5; i++)
                {
                    if (i <= Model.Rating)
                    {
                        <i class="fa fa-star text-warning"></i>
                    }
                    else if (i - Model.Rating < 1)
                    {
                        <i class="fa fa-star-half text-warning"></i>
                    }
                }
                <span>(@Math.Round((double)Model.Rating,2))</span>
            }
            else
            {
                <i>(Be the first to rate)</i>
            }
        </p>
        @if(Model.ListPrice!=Model.SalePrice){
            <span id="ogPrice" class="card-text text-secondary m-2">
                @Model.ListPrice$
            </span>
            <span id="dcPrice" class="card-text text-success">
                @Model.SalePrice$
            </span>
        }
        else{
            <p class="card-text">
                @Model.SalePrice$
            </p>
        }
        <div>
            <a class="btn btn-primary card-link" asp-controller="Product" asp-action="ProductDetails" asp-route-id="@Model.Id">
                <small>Details</small>
            </a>
            <a href="#" class="btn btn-success"><small>Add to cart</small></a>
        </div>
    </div>
</div>
