@model Ecommerce.DTO.DTOs.ProductDTO
@{
    string image = Model.Images.Split(' ').ToList()[0];
}
<div class="card col-3 m-3 text-center productCard">
    @if(image != null){
        <div class="card-img-top">
            <img src="@($"/Images/P{Model.Id}/{image}")" class="d-block w-100" alt="@Model.Name">
        </div>
    }
    <div class="card-body">
        <h6 class="card-title">@Model.Name - @Model.BrandName</h6>
        <p id="rating" class="card-text m-0">
            @if(Model.Rating > 0){
                @for (var i = 1; i <= 5; i++)
                {
                    if (i <= Model.Rating)
                    {
                        <i class="fa fa-star text-warning"></i>
                    }
                    else if (i - Model.Rating < 1)
                    {
                        <i class="fa fa-star-half text-warning"></i>
                    }
                }
                <span>(@string.Format("{0:f2}", Model.Rating))</span>
            }
            else
            {
                <i>(Be the first to rate)</i>
            }
        </p>
        @if(Model.ListPrice!=Model.SalePrice){
            <span id="ogPrice" class="card-text text-secondary m-2">
                @Model.ListPrice$
            </span>
            <span id="dcPrice" class="card-text text-success">
                @Model.SalePrice$
            </span>
        }
        else{
            <p class="card-text">
                @Model.SalePrice$
            </p>
        }
        <div>
            <a class="btn btn-primary card-link" asp-controller="Product" asp-action="ProductDetails" asp-route-id="@Model.Id">
                <small>Details</small>
            </a>
            <a href="#" class="btn btn-success"><small>Add to cart</small></a>
        </div>
    </div>
</div>
